@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #fff;
    background-image: url(img.jpg);
}

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh; 
    padding: 2rem 0.25rem;    
    margin: 2rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.title{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  padding: 0.35rem;
  border-radius: 0.5rem;
  border: none;
 
  
}

input:focus{
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-color: #954dec;
  background-color: #e1d5f0;
}



label
 {
  margin-top: 1rem;
  text-shadow: 1px 1px 1px black;
}



button {
  padding: 0.5rem;
  background-color: rgb(183, 113, 248);
  font-size: 18px;
  margin: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bolder;

}

button:hover{
    cursor: pointer;
    color: azure;
    background-color: rgb(159, 77, 236);
}


a {
    color: #fff;
    text-decoration: none;
}

a:focus{
    color: #220044;
    text-decoration: underline;
}




p{
    text-align: center;
    color: rgb(46, 2, 87);
    font-size: 16px;
    margin-top: -1rem;
    font-weight: bold;
}
